<%= render 'layouts/errorMessage', error_value: @user %>
<% if current_user.id == @user.id %>
  <h1>新規投稿</h1>
  <%= form_with model: @user do |f| %>

    <h4>name</h4>
    <%= f.text_field :name%>

    <h4>introduction</h4>
    <%= f.text_area :introduction%>

    <h4>image</h4>
    <%= f.file_field :profile_image, accept: "image/*" %>
    <div>
      <%= f.submit 'update' %>
    </div>
  <% end %>

<% end %>

