<div class="col-md-3">
  <h2>User Info</h2>
  <table lass="UserInfo">
    <tr class="user_image">
      <th>
        <% if who_user.profile_image.attached? %>
          <%= image_tag who_user.profile_image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      </th>
      <th></th>
    </tr>
    <tr>
      <th><p>name</p></th>
      <th><p><%= who_user.name %></p></th>
    </tr>
    <tr>
      <th><p>introduction</p></th>
      <th><p><%= who_user.introduction %></p></th>
    </tr>
  </table>
  <%= link_to edit_user_path(who_user.id), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
  <div class="create_form">
    <h2>New book</h2>
    <%= form_with model: Book.new, url: "/books" do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_area :body %>
      <div><%= f.submit 'Create Book' ,class: "btn btn-success"%></div>
    <% end %>
  </div>
</div>